.main {
  max-width: var(--container);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: var(--space-4);
}

.select {
  width: 100%;
  font-size: xx-large;
  margin-block-start: var(--space-3);
  margin-block-end: var(--space-3);
  border-radius: 1rem;
  text-align: center;
}

.fieldset {
  width: 100%;
  margin-block-start: var(--space-3);
  margin-block-end: var(--space-3);
  padding: var(--space-2);
  text-align: center;
}

.channelsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--space-4);
  border-radius: var(--radius);
  width: 100%;
  margin-block-start: var(--space-3);
  margin-block-end: var(--space-3);
  justify-content: center;
}

.channel {
  border: var(--border);
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: var(--elevation-1);
}

.channel[data-selected="true"] {
  background-color: var(--bg-2);
  transition: border-color background-color var(--duration);
  box-shadow: var(--elevation-2);
}

.channel[data-supported="false"] {
  text-decoration: line-through;
  opacity: 0.5;
  box-shadow: none;
}

.channel:hover {
  border-color: var(--accent);
  background-color: var(--bg-2);
  transition: border-color background-color var(--duration);
}

.channelTitle {
  font-size: x-large;
  font-weight: bold;
  margin-block-start: var(--space-3);
  margin-block-end: var(--space-3);
  padding: var(--space-3);
  text-align: center;
}

.button {
  margin-block-start: var(--space-2);
  margin-block-end: var(--space-2);
}

.input {
  margin-block-start: var(--space-2);
  margin-block-end: var(--space-2);
}

.currentPlanSection {
  background-color: var(--bg-2);
  width: 100%;
  padding: var(--space-2);
  box-shadow: var(--elevation-2);
  border-radius: var(--radius);
  margin-block-start: var(--space-4);
  margin-block-end: var(--space-4);
}

.currentPlanName {
  font-size: x-large;
  font-weight: bold;
  margin-block-start: var(--space-3);
  margin-block-end: var(--space-3);
  padding: var(--space-3);
  text-align: center;
}
