.main {
  max-width: var(--container);
  margin: 0 auto;
}

.pageTitle {
  text-align: center;
  margin-block-end: var(--space-2);
}

.input {
  margin-block-end: var(--space-2);
}

.input::file-selector-button {
  border: var(--border);
  border-radius: var(--radius);
  padding: var(--space-1) var(--space-2);
  margin-right: var(--space-1);
  background-color: var(--bg-2);
  color: var(--text);
  font-family: var(--font-family);
}

.input::file-selector-button:hover {
  border-color: var(--accent);
  transition: background-color color var(--duration);
  cursor: pointer;
}

.checkbox {
  width: initial;
  margin-right: var(--space-1);
}

.checkboxSection {
  margin-left: var(--space-1);
  margin-block-end: var(--space-2);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
}
