.tagsDescriptionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-2);
  padding: var(--space-2);
}

.pageTitle {
  text-align: center;
  margin-block-end: var(--space-2);
}

.tagLabel {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--space-2);
}

.generateTagsButton:disabled {
  opacity: 0.8;
}

.tagsSubmitButton {
  margin-block-start: var(--space-2);
}

.addTagInput {
  margin-block-start: var(--space-1);
}

.sectionTitle {
  margin-block-end: var(--space-1);
}
