.asideSection {
  background-color: var(--bg-2);
  height: fit-content;
}

.submitButton {
  margin-top: var(--space-2);
}

.title {
  text-align: center;
  margin-block-end: var(--space-3);
}

.contentAsideGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: var(--space-1);
  gap: var(--space-1);
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-4);
  border-radius: var(--radius);
  width: 100%;
  margin-block-end: var(--space-3);
  justify-content: center;
}

.contentCard {
  border: var(--border);
  border-radius: var(--radius);
  text-decoration: none;
  height: max-content;
  box-shadow: var(--elevation-1);
}

.contentCard[data-current="true"] {
  background-color: var(--bg-2);
  box-shadow: var(--elevation-2);
}

.contentCardDetails {
  padding: var(--space-1);
  text-decoration: none;
}

.contentTitle {
  margin-block-end: var(--space-1);
}

.tag {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-1);
  align-items: center;
}

.removeTagButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-2);
  text-align: right;
}
