.main {
  margin-block-start: var(--space-4);
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 600px));
  gap: var(--space-4);
  border-radius: var(--radius);
  width: 100%;
  margin-block-start: var(--space-3);
  margin-block-end: var(--space-3);
  justify-content: center;
}

.contentCard {
  border: var(--border);
  border-radius: var(--radius);
  text-decoration: none;
  height: max-content;
}

.contentCardDetails {
  padding: var(--space-1);
  text-decoration: none;
}

.contentTitle {
  margin-block-end: var(--space-1);
}
