@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant/Cormorant-VariableFont_wght.ttf");
}

body,
button,
input,
textarea,
select {
  font-family: "Cormorant";
  font-size: xx-large;
}

button,
select {
  width: 100%;
  text-align: left;
}

dialog {
  width: auto;
  margin: 8px;
}

image {
  width: -webkit-fill-available;
}

nav {
  position: sticky;
  top: 0;
  /* opacity: 0.7; */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: papayawhip;
  }

  input,
  button,
  textarea,
  fieldset,
  select,
  dialog,
  hr {
    background-color: black;
    color: papayawhip;
    border-color: papayawhip;
  }

  a {
    color: papayawhip;
  }

  a:hover {
    color: palevioletred;
  }

  button:hover {
    background-color: palevioletred;
    color: dodgerblue;
  }

  dialog::backdrop {
    background: red;
  }
}
