@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&display=swap");

:root {
  --sans: "Fira Sans", sans-serif;
  --thickness: calc(var(--0) / 2);
}

body {
  font-family: var(--sans);
}

menu {
  margin: 0;
  padding: 0;
  width: 100%;
}

article > details {
  box-shadow: 0;
}

a {
  text-decoration: none;
}

a[data-current="true"] {
  text-decoration: underline;
  color: var(--accent-2);
}

main > article {
  margin-block-start: var(--space-xl);
}

article[data-coming-soon="true"] {
  color: gray;
  border-color: gray;
  font-size: 100px;
}

main {
  margin-block-end: var(--space-xl);
}

fieldset:disabled {
  animation: cycleFade 2s ease-in-out infinite;
}

@keyframes cycleFade {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}
