@font-face {
  font-family: "Noto Serif KR";
  src: url("../fonts/Noto_Serif_KR/NotoSerifKR-Regular.otf");
}

:root {
  --container: 800px;
}

body,
button,
input,
textarea,
select {
  font-family: "Noto Serif KR", serif;
  font-size: larger;
}

dialog {
  width: auto;
  margin: 8px;
}

image {
  width: -webkit-fill-available;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: papayawhip;
  }

  input,
  button,
  textarea,
  fieldset,
  select,
  dialog,
  nav,
  hr {
    background-color: black;
    color: papayawhip;
    border-color: papayawhip;
  }

  a {
    color: papayawhip;
  }

  a:hover {
    color: palevioletred;
  }

  button:hover {
    background-color: palevioletred;
    color: dodgerblue;
  }

  dialog::backdrop {
    background: red;
  }
}

fieldset:disabled {
  opacity: 0.5;
}
