APP_BASE_URL="http://localhost:3000"
SESSION_SECRET="this is a secret"
DATABASE_URL=postgresql://tanner:GCa_RAmQtqoQLs8B-8wohQ@hoofed-colugo-6931.7tt.cockroachlabs.cloud:26257/home-rice?sslmode=verify-full

YOUTUBE_CLIENT_ID=""
YOUTUBE_CLIENT_SECRET=""
YOUTUBE_ACCESS_TOKEN=""
YOUTUBE_REDIRECT_URI="https://vertical-shorts-app.netlify.app/authorize-integration/youtube/success"

TIKTOK_CLIENT_KEY=""
TIKTOK_CLIENT_SECRET=""
TIKTOK_REDIRECT_URI="http://vertical-shorts-app/authorize-integration/tiktok/success"

GCP_CLIENT_EMAIL="homerice@homerice.iam.gserviceaccount.com"
GCP_PRIVATE_KEY=""