.details {
  padding: var(--space-1);
  position: sticky;
  top: 0;
}

.details[open] .summary {
  color: var(--accent);
}

.summary:hover {
  cursor: pointer;
  color: var(--accent);
}

.table {
  margin-block-start: var(--space-1);
  background-color: var(--bg-2);
  border-color: var(--bg-1);
  box-shadow: var(--elevation-3);
}
