.breadcrumbMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.breadcrumbList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1);
  list-style: none;
}

.breadcrumbLink {
  text-decoration: none;
  font-weight: bold;
  padding: var(--space-2);
  color: var(--text);
}

.breadcrumbLink:active,
.breadcrumbLink[data-current="true"] {
  color: var(--accent);
  text-decoration: underline;
}
