.breadcrumbMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: var(--space-2);
  margin-inline-start: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.breadcrumbList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1);
  list-style: none;
}

.breadcrumbList li {
  background: var(--bg-1);
  border-radius: 1rem;
  margin: var(--space-1);
  padding: calc(var(--space-1) / 2);
  border: var(--border);
  border-color: var(--bg-1);
}

.breadcrumbLink {
  text-decoration: none;
  font-weight: bold;
  padding: var(--space-2);
  color: var(--grey);
  box-shadow: var(--elevation-1);
}

.breadcrumbLink:hover {
  color: var(--accent);
  box-shadow: var(--elevation-2);
  transition: color var(--duration) box-shadow var(--duration) ease-in-out;
}

.breadcrumbLink:active,
.breadcrumbLink[data-current="true"] {
  color: var(--accent);
  box-shadow: var(--elevation-3);
}
